/* Error: expected "{".
 *    ,
 * 77 |   font-size: 1.6rem;
 *    |                    ^
 *    '
 *   scss\layout\_hero.scss 77:20  @use
 *   scss\main.scss 4:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 77 \2502    font-size: 1.6rem;\d\a    \2502                     ^\a    \2575 \a   scss\\layout\\_hero.scss 77:20  @use\a   scss\\main.scss 4:1            root stylesheet';
}
